In [1]:
import pandas as pd

In [39]:
target = 'Deaths'

### Cumulative

In [40]:
df = pd.read_csv(f'../../data-truth/RKI/truth_RKI-Cumulative {target}_Germany.csv')

df2 = df[df.date.between('2022-02-01', '2022-02-03')]

df2 = df2.groupby(['location', 'location_name'])['value'].mean().round().reset_index()

df2['date'] = '2022-02-02'

df_new = df.append(df2, ignore_index=True).sort_values(['date', 'location'], ignore_index=True)

df_new.value = df_new.value.astype(int)

df_new.to_csv(f'../../data-truth/RKI/truth_RKI-Cumulative {target}_Germany2.csv')

In [41]:
# df_new[df_new.date.between('2022-02-01', '2022-02-03')]

### Incidence

In [42]:
df_inc = df_new.copy()
df_inc.value = df_inc.groupby(['location'])['value'].diff()
df_inc.dropna(inplace=True)
df_inc.value = df_inc.value.astype(int)

df_inc.to_csv(f'../../data-truth/RKI/truth_RKI-Incident {target}_Germany2.csv', index=False)

# By Age

In [100]:
target = 'Deaths'

### Cumulative

In [101]:
df = pd.read_csv(f'../../data-truth/RKI/by_age/truth_RKI-Cumulative {target} by Age_Germany.csv')

In [102]:
df2 = df[df.date.between('2022-02-01', '2022-02-03')]

In [103]:
# df2[(df2.location == "GM") & (df2.age_group == "A35-A59")]

             date location location_name age_group  value
50089  2022-02-01       GM       Germany   A35-A59   6178
50178  2022-02-03       GM       Germany   A35-A59   6213

In [104]:
df2 = df2.groupby(['location', 'location_name', 'age_group'])['value'].mean().round().reset_index()

In [105]:
df2['date'] = '2022-02-02'

In [106]:
df_new = df.append(df2, ignore_index=True).sort_values(['date', 'location', 'age_group'], ignore_index=True)

In [107]:
df_new.value = df_new.value.astype(int)

df_new.to_csv(f'../../data-truth/RKI/by_age/truth_RKI-Cumulative {target} by Age_Germany2.csv')

In [108]:
# df_new[(df_new.location == "GM") & (df_new.age_group == "A35-A59") & (df_new.date.between('2022-02-01', '2022-02-03'))]

             date location location_name age_group  value
50089  2022-02-01       GM       Germany   A35-A59   6178
50178  2022-02-02       GM       Germany   A35-A59   6196
50267  2022-02-03       GM       Germany   A35-A59   6213

### Incidence

In [109]:
df_inc = df_new.copy()
df_inc.value = df_inc.groupby(['location', 'age_group'])['value'].diff()
df_inc.dropna(inplace=True)
df_inc.value = df_inc.value.astype(int)

df_inc.to_csv(f'../../data-truth/RKI/by_age/truth_RKI-Incident {target} by Age_Germany2.csv', index=False)